* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.quote-container {
    background-color: rgb(255, 250, 196);
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    padding: 40px;
    font-size: 2rem;
}